/* Home */
body{
    margin: 0px;
    padding: 0px;
 }
 .red{
   font-size: 180%;
   color:brown;
 
 }
 .header{
     display:flex;
     width: 100%;
     padding-top: 10px;
     padding-bottom: 10px;
     justify-content: center;
     align-items: center;
 }
 .header div{
     font-size: 24px;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-weight: 600;
     margin-left: 20px;
     color: white;
 }
 .logo{
     height: 70px;
     width: 70px;
     border-radius: 50%;
 
 }
 .navbar{
     background-color: rgb(248, 243, 141);
     display: flex;
     color: hsl(44, 71%, 81%);
     width: 100%;
     font-size: 18px;
     justify-content: space-around;
   }
   .navbar a{
     color: #000407;
     text-decoration: none;
   }
   .navbar div{
     padding: 10px;
   }
   
   .navbar div:hover{
     background-color: hwb(245 66% 4%);
   }
   
   .container{
     display: flex;
     width: 100%;
   }
   .background_image1{
     background-image: url("../image/home.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     height: 110vh;
     
   }
  
   .tag{
     display: flex;
     align-items: center;
     justify-content: center;
     color:rgb(52, 8, 46);
     font-size: 40px;
     font-family: serif;
     font-weight: 70px;
     text-align: center;
   }
 
 
   .btn{
     width:100px;
     height:30px;
     background-color: #000407;
     color:aliceblue;
     border-radius: 6px;
     text-align: center;
     margin-top: 0px;
     margin-left: 551px;
     margin-top: 20px;
     font-size: medium;
     font-family: cursive;
   }
   .footer{
     display: flex;
     background-color: #46423e;
     color: white;
     font-size: 12px;
     font-weight: 700;
     justify-content: space-between;
     padding: 10px 25px;
   }
   .icons{
     justify-content: center;
     align-items: center;
     
     }
  .icons a{
       height: 100px;
       width: 100px;
       border-radius: 50px;
       text-align: center;
       margin: 10px;
       line-height: 20px;
    
 }
 a i{
   transition: all 0.3s linear;
 }
 a:hover i{
   transform: scale(1.4);
 }
 .fa-instagram{
   color: #e84393;
 }
 .fa-facebook{
   color: #0097e6;
 }
 .fa-twitter{
   color: #0097e6;
 }
 /*About Us  */
 .about{
    margin: 0px;
    padding: 0px;
    background-color: lightcoral;
}

.heading{
    color:crimson;
    text-align: center;
    font-size: 40px;
    font-family: serif;
    font-weight: 100px;
    background-color: #eef787;
    margin: 0px;
}
.img1{
    display: flex;
    width: 280px;
    height: 280px;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
}
.b1{
    color: black;
    text-align: center;
    font-size: 30px;
    margin-top: 9px;
}
.b2{
    text-align: center;
    font-size: 20px;
}
.img2{
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
    }
.b3{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 200%;
    margin-left: 25px;
    color: #010000;
    margin: 0px;
    padding: 0px;

}
.b3 a{
     text-decoration: none;
     color: #010000;
}



/* Contact Us */

  .d1{
      display:flex;
      flex-direction:row; 
      align-items:center;
      justify-content:center; 
      flex-wrap:wrap;  
      justify-content:space-around; 
      
  }
  .d1 p{
      font-family: 'arial', sans-serif;
      font-size: 14px;
  } 
  .fa {
      display: inline-block;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
  
  }
  .c{
    margin-left: 20px;
  }
  .h{
      font-family: 'arial', sans-serif;
      display: block;
      font-size: 25px;
      margin-left: 20px;
  }
  .{
    margin-top: 10px;
  }
 
  .h2{
      margin-left: 20px;
  }
  .h3{
      font-size: 24px;
  }
  .bg_img{
    background-image: url("../image/contact_us.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      margin-top: 0px;
  }
  .message{
      display: block;
      width: 400px;
      padding-bottom: 200px;
      border-radius: 5px;
      }
   
  /* For Blood Bank */
  .bbbody{
    /* margin: 0px; */
    /* padding: 0px; */
    background-image: url("../image/blood_bank.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
  
  }
  .form_for_bb{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 400px;
      margin-right: 400px;
      margin-top: 40px;
      color: hsl(180, 100%, 99%);
  }
  .p1{
      text-align: center;
      font-size: 30px;
      font-family: 'Times New Roman', Times, serif;
      color: antiquewhite;
  } 
  #state{
    height : 30px;
  }
  #district{
    height : 30px;
  }
  
  #city{
    height : 30px;
  }
  #search{
    height: 42px;
    background-color: #990000;
    color: white;
    margin-left: 157px;
    font-size: 20px;
    width: 100px;
    border-radius: 7px;
  }
  .box-body{
    height: 768px;
  }
  
/* Gallery */
  .body{
    background-color:blanchedalmond;
} 

.h1{
    font-family: sans-serif;
    font-size: 32px;
    font font-weight: 20px;
    text-align:center;
} 
.img1{
    display: flex;
    text-align: center;
    width: 508px;
    height: 1437px;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 358px;
}


/* Login  */
.login-box{
    width: 40%;
    padding: 40px;
    box-shadow: 0px 4px 8px #012D1E;
    margin: 100px auto;
    border-radius: 12px;
    }
    .login-box:hover{
        box-shadow: 0px 6px 12px #012D1E;
    }
    .login-body{
     background-color: #C2DCD9;
    }
    .form-group{
        margin-bottom: 20px;
        width: 100%;
    }
    .form-group label{
       display: block;
       font-size: 20px;
       font-family: cursive;
       font-weight: 600;
    }
    .form-group input{
        width: 100%;
        border-radius: 6px;
        padding: 4px 8px;
    }
    .form-group button{
        padding: 6px 30px;
        font-size: 18px;
        font-weight: 600;
        background-color: #012D1E;
        color: white;
        border-radius: 8px;
      }
    
      
    /* Registration form */
    .background-image3{
        /* background-image: url(""); */
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        height: 110vh;
         background-image: linear-gradient(rgb(83, 164, 246), #f6f7f7);
    }
    